
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
      type="text"
      name="title"
      formControlName = "title"
      placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a Post Title</mat-error>
    </mat-form-field>
   <div>
   <button mat-button (click)="filePicker.click()">Pick Image</button>
   <input type="file" #filePicker (change)="onImagePicked($event)">
   </div>
    <mat-form-field>
      <textarea
      matInput
      rows="6"
      formControlName ="content"
      placeholder="Post Content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a Post Content</mat-error>
    </mat-form-field>

    <button mat-raised-button
        color="primary"
        type="submit">Save Post
    </button>
  </form>
</mat-card>

<!--<textarea rows="6" [value]="newPost" #postInput></textarea>-->
<!--<p>{{newPost}}</p>-->
<!--<button (click)="onAddPost(postInput)">Save Post</button>-->

